PyQt5==5.15.11
cutlet==0.4.0
deep-translator==1.11.4
langdetect==1.0.9
transformers==4.47.1
soundcard==0.4.3
soundfile==0.13.1
SpeechRecognition==3.14.1
numpy==1.26.4
openai-whisper==20240930
gTTS==2.5.4
pygame==2.6.1
unidic-lite==1.0.8
sentencepiece==0.2.0




